{% extends "homepage/base.html" %}

{% block title %}<title>{{ column_now.column_name }}_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-md-8 column">
            <div class="article-list panel panel-pynxl">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-pynxl">
                        <li role="presentation" style="float: left;">
                            <h4>
                                <span class="{{ column_now.column_icon }}"></span>
                                &nbsp;
                                {{ column_now.column_name }}
                            </h4>
                        </li>
                        <li role="presentation"><a href="/health/search/?q=&sort=3">推荐</a></li>
                        <li role="presentation"><a href="/health/search/?q=&sort=2">热门</a></li>
                        <li role="presentation" class="active"><a href="/health/search/?q=&sort=1">最新</a></li>
                    </ul>
                </div>

                {% if health_list %}
                    <ul class="list-group">
                        {% for health in health_list %}
                            <li class="article list-group-item">
                                <div class="atricle-title clearfix">
                                    <h4>
                                        <a href="/health/{{ health.srcid }}">
                                            <strong>{{ health.title|slice:"50" }}</strong>
                                        </a>
                                    </h4>
                                </div>

                                <div class="article-labels">
                                    {% for label in health.labels_as_list %}
                                        <a href="#"><span class="label label-pynxl-{{ forloop.counter|mod_lookup:6 }}">{{ label }}</span></a>
                                    {% endfor %}
                                </div>

                                </br>

                                <div class="article-summary">
                                    <div>
                                        <p>{{ health.summary|slice:"125" }}...</p>
                                    </div>
                                </div>

                                <div class="article-info text-right">
                                    <span>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        {{ health.get_time_string }}
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        {{ health.viewnum }}
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>没有查询到任何健康信息。</p>
                {% endif %}
            </div>

            <div class="text-center">
                <ul class="pagination">
                    <li>
                        {% if health_list.has_previous %}
                            <a href="/health/search/?q={{ query }}&page={{ health_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num health_list.number %}
                            <li class="active">
                                <span class="current">{{ health_list.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/health/search/?q={{ query }}&page={{ page_num }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if health_list.has_next %}
                            <a href="/health/search/?q={{ query }}&page={{ health_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 column">
            <div class="panel panel-pynxl">
                <div class="panel-heading panel-heading-pynxl">
                    <h5>
                        <span class="glyphicon glyphicon-flag"></span>
                        <strong>热门文章</strong>
                    </h5>
                </div>
                <ul class="list-group" id="hottest-you-like">
                    {% if hottest_list %}
                        {% for hottest in hottest_list %}
                            <li class="list-group-item">
                                <span class="badge pull-left">
                                    {{ hottest.viewnum }}
                                </span>
                                &nbsp;
                                <a href="/health/{{ hottest.srcid }}">{{ hottest.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
