.form-input {
	height: 36px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #f8f8f8;
	border: 3px solid #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-textarea {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.form-input:focus, 
.form-textarea:focus { 
	outline: 0;
	background: #fff;
	border: 3px solid #ccc;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-input:-moz-placeholder, 
.form-textarea:-moz-placeholder {
	color: #888;
}

.form-input:-ms-input-placeholder, 
.form-textarea:-ms-input-placeholder {
	color: #888;
}

.form-input::-webkit-input-placeholder, 
.form-textarea::-webkit-input-placeholder {
	color: #888;
}

.btn-pynxl {
	height: 45px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #de995e;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.btn-pynxl:hover { opacity: 0.6; color: #fff; }

.btn-pynxl:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.btn-pynxl:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

.btn-pynxl:active:focus, btn-pynxl.active:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

