{% extends "homepage/base.html" %}

{% block title %}<title>{{ column_now.column_name }}_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-md-12 column">
            <div class="article-list panel panel-pynxl">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-pynxl">
                        <li role="presentation" style="float: left;">
                            <h4>
                                <span class="{{ column_now.column_icon }}"></span>
                                &nbsp;
                                {{ column_now.column_name }}
                            </h4>
                        </li>
                        <li role="presentation" {% ifequal sort 2 %}class="active"{% endifequal %}><a href="/shopping/search?q={{ query }}&sort=2">价格降序</a></li>
                        <li role="presentation" {% ifequal sort 1 %}class="active"{% endifequal %}><a href="/shopping/search?q={{ query }}&sort=1">最新上架</a></li>
                    </ul>
                </div>

                <div class="panel-body">
                    {% if shopping_list %}
                        <div class="row">
                            {% for shopping in shopping_list %}
                                <div class="col-xs-6 col-md-3">
                                    <div class="shopping-item">
                                        <div class="showimg">
                                            <a href="{{ shopping.srclink }}" target="_blank">
                                                <img src="{{ shopping.imglink }}" alt="{{ shopping.name }}" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="row-1">
                                                <div class="price">
                                                    <span>¥</span>
                                                    <strong>{{ shopping.price|floatformat:2 }}</strong>
                                                </div>
                                            </div>
                                            <div class="row-2">
                                                <div class="title">
                                                    <a href="{{ shopping.srclink }}" target="_blank">{{ shopping.name|slice:"24" }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>没有查询到任何信息。</p>
                    {% endif %}
                </div>
            </div>

            <div class="text-center">
                <ul class="pagination">
                    <li>
                        {% if shopping_list.has_previous %}
                            <a href="/shopping/search?q={{ query }}&page={{ shopping_list.previous_page_number }}&sort={{ sort }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num shopping_list.number %}
                            <li class="active">
                                <span class="current">{{ shopping_list.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/shopping/search?q={{ query }}&page={{ page_num }}&sort={{ sort }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if shopping_list.has_next %}
                            <a href="/shopping/search?q={{ query }}&page={{ shopping_list.next_page_number }}&sort={{ sort }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
