{% extends "homepage/base.html" %}

{% block title %}<title>{{ column_now.column_name }}_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-md-8 column">
            <div class="article-list panel panel-pynxl">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-pynxl">
                        <li role="presentation" style="float: left;">
                            <h4>
                                <span class="{{ column_now.column_icon }}"></span>
                                &nbsp;
                                {{ column_now.column_name }}
                            </h4>
                        </li>
                        <li role="presentation" {% ifequal sort 3 %}class="active"{% endifequal %}><a href="/cookbook/search/?q={{ query }}&sort=3">推荐</a></li>
                        <li role="presentation" {% ifequal sort 2 %}class="active"{% endifequal %}><a href="/cookbook/search/?q={{ query }}&sort=2">热门</a></li>
                        <li role="presentation" {% ifequal sort 1 %}class="active"{% endifequal %}><a href="/cookbook/search/?q={{ query }}&sort=1">最新</a></li>
                    </ul>
                </div>

                {% if cookbook_list %}
                    <ul class="list-group">
                        {% for cookbook in cookbook_list %}
                            <li class="article list-group-item">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="artitle-img">
                                            <img src="{{ cookbook.crawlercookbookimg_set.first.imglink }}" alt="{{ cookbook.crawlercookbookimg_set.first.name }}" style="height: 100px; width: 150px" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="article-title clearfix">
                                            <h4>
                                                <a href="/cookbook/{{ cookbook.srcid }}">
                                                    <strong>{{ cookbook.name|slice:"50" }}</strong>
                                                </a>
                                            </h4>
                                        </div>

                                        <div class="article-labels">
                                            {% for label in cookbook.labels_as_list %}
                                                <a href="/cookbook/search/?tag={{ label }}"><span class="label label-pynxl-{{ forloop.counter|mod_lookup:6 }}">{{ label }}</span></a>
                                            {% endfor %}
                                        </div>

                                        </br>

                                        <div class="atricle-content">
                                            <div>
                                                <p>{{ cookbook.comment|slice:"125" }}...</p>
                                            </div>
                                        </div>

                                        <div class="article-info text-right">
                                            <span>
                                                {{ cookbook.get_time_string }}
                                            </span>
                                            <span>
                                                <span class="glyphicon glyphicon-comment"></span>
                                                {{ cookbook.crawlercookbookcomment_set.count }}
                                            </span>
                                            <span>
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                {{ cookbook.viewnum }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>没有查询到任何信息。</p>
                {% endif %}
            </div>

            <div class="text-center">
                <ul class="pagination">
                    <li>
                        {% if cookbook_list.has_previous %}
                            <a href="/cookbook/search/?q={{ query }}&page={{ cookbook_list.previous_page_number }}&sort={{ sort }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num cookbook_list.number %}
                            <li class="active">
                                <span class="current">{{ cookbook_list.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/cookbook/search/?q={{ query }}&page={{ page_num }}&sort={{ sort }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if cookbook_list.has_next %}
                            <a href="/cookbook/search/?q={{ query }}&page={{ cookbook_list.next_page_number }}&sort={{ sort }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 column">
            <div class="panel panel-pynxl">
                <div class="panel-heading">
                    <h5>
                        <span class="glyphicon glyphicon-flag"></span>
                        <strong>热门美食</strong>
                    </h5>
                </div>
                <ul class="list-group" id="hottest-you-like">
                    {% if hottest_list %}
                        {% for hottest in hottest_list %}
                            <li class="list-group-item">
                                <span class="badge pull-left">
                                    {{ hottest.viewnum }}
                                </span>
                                &nbsp;
                                <a href="/cookbook/{{ hottest.srcid }}">{{ hottest.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
