{% extends "homepage/base.html" %}

{% load staticfiles %}

{% block title %}<title>设置头像_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-md-3 column">
            <a class="list-group-item">
                <img src="{{user.img}}" alt="" width="40">
                &nbsp;{{ user.username }} 
            </a>
            <a href="/usercenter/changeavatar" class="list-group-item active">
                <strong>设置头像</strong>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
            <a href="/usercenter/changepassword" class="list-group-item">
                修改密码
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>

        <div class="col-md-9 column">
            <div id="change-avatar" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>设置头像</strong>
                    </h3>
                </div>

                {% if messages %}
                    <div class="alert alert-success" role="alert">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
               
                <div class="panel-body">
                    <div class="change-avatar">
                        <h4>头像预览</h4>

                        <div id="avatar-preview" class="avatar-preview">
                            <img src="{{ user.img }}" alt="avatar" class="img-responsive">
                        </div>

                        <div id="avatar-form" class="avatar-form">
                            <form action="/usercenter/changeavatarcheck" method="post" role="form" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label class="control-label">请选择头像：</label>
                                    <input type="file" id="upload-avatar" accept="image/*" name="upload-avatar" onchange="previewImage()">
                                </div>

                                <button type="submit" class="btn btn-info">保存</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage() {
        var file = document.getElementById("upload-avatar").files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e) {
            var preview = document.getElementById("avatar-preview");
            preview.innerHTML = '<img src="' + this.result +'" alt="avatar" class="img-responsive">';
        }
        return false;
    }
</script>

{% endblock %}
