{% extends "homepage/base.html" %}

{% load staticfiles %}

{% block title %}<title>修改密码_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-md-3 column">
            <a class="list-group-item">
                <img src="{{user.img}}" alt="" width="40">
                &nbsp;{{ user.username }} 
            </a>
            <a href="/usercenter/changeavatar"class="list-group-item">
                设置头像
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
            <a href="/usercenter/changepassword"class="list-group-item active">
                <strong>修改密码</strong>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>

        <div class="col-md-9 column">
            <div id="change-password" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>修改密码</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="change-password-form" class="form-horizontal" role="form">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="old-password" class="col-sm-2 control-label">旧密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="old-password" name="old_password"
                                    placeholder="请输入密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="new-password-1" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="new-password1" name="new_password1"
                                    placeholder="请输入密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="new-password-2" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="new-password2" name="new_password2"
                                    placeholder="请再次输入密码">
                            </div>
                        </div>

                        <button id="change-password-button" type="submit" class="btn btn-primary pull-right">
                            确定
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#change-password-form').submit(function(){
        $.post(
            "/usercenter/changepasswordcheck", $("#change-password-form").serialize(),
            function(data){
                var status = data["status"];
                if(status == 0) {
                    location.replace("/");
                } else {
                    var html = "<div class=\"alert alert-danger\">"
                    for (var key in data["errors"])
                        html += data["errors"][key]+"<br/>";
                    html += "</div>";
                    $("#change-password").after(html);
                }
            }
        );
        return false;
    });

    $("#change-password-button").click(function(){
        $("#change-password.alert").remove();
    });
</script>

{% endblock %}
