{% extends "homepage/base.html" %}

{% load staticfiles %}

{% block title %}<title>忘记密码_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>忘记密码</h3>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" id="forgetpassword-form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="sr-only" for="form-username">用户名</label>
                        <input type="text" name="username" placeholder="用户名" class="form-input form-control" id="username">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="form-email">邮箱</label>
                        <input type="text" name="email" placeholder="邮箱" class="form-input form-control" id="email">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="sr-only" for="form-captcha">验证码</label>
                            <input type="text" id="captcha_key" name="captcha_key" class="form-input form-control" placeholder="验证码">
                        </div>

                        <div class="col-sm-2">
                            <span>
                                <a href="javascript:void(0);" onclick="refreshCaptcha()" class="next-captcha">
                                    <img src="#" alt="验证码" class="captcha-img" style="width: 85px; height: 35px">
                                </a>
                            </span>
                            <input id="captcha_hashkey" name="captcha_hashkey" type="hidden" value="#">
                        </div>
                    </div>

                    <button type="submit" id="forgetpassword-button" class="btn btn-pynxl">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
   $('#forgetpassword-button').click(function(){
        $(".form-box .alert").remove();

        $.post(
            "/usercenter/forgetpasswordcheck", $("#forgetpassword-form").serialize(),
            function(data){
                var status = data["status"];
                if(status == 0) {
                    alert("密码重置请求成功!\n"+
                        "我们已经将重置密码的链接发送到您的邮箱，请注意查收！\n");
                    location.replace("/");
                } else {
                    var html = "<div class=\"alert alert-danger\">"
                    for (var key in data["errors"])
                        html += data["errors"][key]+"<br/>";
                    html += "</div>";
                    $(".form-top").after(html);
                }
            }
        );
        return false;
    });

    function refreshCaptcha() {
        $.getJSON("/usercenter/refreshcaptcha", function(json) {
            var status = json['status'];
            var captcha_key = json['captcha_key'];
            var captcha_hashkey = json['captcha_hashkey'];

            $("#captcha_hashkey").attr("value", captcha_key);
            $(".captcha-img").attr("src", captcha_hashkey);
        });
    }

    refreshCaptcha();
</script>

{% endblock %}
