{% extends "homepage/base.html" %}

{% block title %}<title>{{ column_now.column_name }}_{{ site_info.site_name }}_{{ site_info.site_slogan }}</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col-md-8 column">
            <div class="article-list panel panel-pynxl">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-pynxl">
                        <li role="presentation" style="float: left;">
                            <h4>
                                <span class="{{ column_now.column_icon }}"></span>
                                &nbsp;
                                {{ column_now.column_name }}
                            </h4>
                        </li>
                        <li role="presentation"><a href="/movie/search/?q=&sort=3">评分最高</a></li>
                        <li role="presentation"><a href="/movie/search/?q=&sort=2">热门</a></li>
                        <li role="presentation" class="active"><a href="/movie/search/?q=&sort=1">最新</a></li>
                    </ul>
                </div>

                {% if movie_list %}
                    <ul class="list-group">
                        {% for movie in movie_list %}
                            <li class="article list-group-item">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="artitle-img">
                                            <img src="http://119.61.64.177/img001/{{ movie.crawlermovieimg_set.first.imgpath }}" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="article-title clearfix">
                                            <h4>
                                                <a href="/movie/{{ movie.srcid }}">
                                                    <strong>{{ movie.moviename|slice:"50" }}</strong>
                                                    <small>{{ movie.get_release_time_string|slice:"4" }}</small>
                                                </a>
                                            </h4>
                                        </div>

                                        <div class="article-labels">
                                            {% for label in movie.labels_as_list %}
                                                <a href="/movie/search/?type={{ label }}"><span class="label label-pynxl-{{ forloop.counter|mod_lookup:6 }}">{{ label }}</span></a>
                                            {% endfor %}
                                        </div>

                                        </br>

                                        <div class="atricle-content">
                                            <div>
                                                <p>{{ movie.story|slice:"125" }}...</p>
                                            </div>
                                        </div>

                                        <div class="article-info text-right">
                                            <span>
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                {{ movie.get_time_string }}
                                            </span>
                                            <span>
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                {{ movie.viewnum }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>没有查询到任何信息。</p>
                {% endif %}
            </div>

            <div class="text-center">
                <ul class="pagination">
                    <li>
                        {% if movie_list.has_previous %}
                            <a href="/movie/search/?q={{ query }}&page={{ movie_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num movie_list.number %}
                            <li class="active">
                                <span class="current">{{ movie_list.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/movie/search/?q={{ query }}&page={{ page_num }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if movie_list.has_next %}
                            <a href="/movie/search/?q={{ query }}&page={{ movie_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 column">
            <div class="panel panel-pynxl">
                <div class="panel-heading">
                    <h5>
                        <span class="glyphicon glyphicon-flag"></span>
                        <strong>热门电影</strong>
                    </h5>
                </div>
                <ul class="list-group" id="hottest-you-like">
                    {% if hottest_list %}
                        {% for hottest in hottest_list %}
                            <li class="list-group-item">
                                <span class="badge pull-left">
                                    {{ hottest.viewnum }}
                                </span>
                                &nbsp;
                                <a href="/movie/{{ hottest.srcid }}">{{ hottest.moviename }}</a>
                                <span class="pull-right" style="color: red">
                                    {{ hottest.score }}
                                </span>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
