{% extends "djadmin/base.html" %}

{% load staticfiles %}

{% block title %}<title>{{ site_info.site_name }}管理后台</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{% block main %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{ site_info.site_name }}
            <small>管理后台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>&nbsp;首页</a></li>
            <li><a href="#">系统管理</a></li>
            <li class="active">用户管理</li>
        </ol>
    </section>

    <section class="content">
        {% if messages %}
            <div class="callout callout-info">
                <h4>提示！</h4>
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="add-button">
            <p class="text-right">
                <a href="/djadmin/user/add" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add用户信息</a>
            </p>
        </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">用户管理</h3>
                <div class="box-tools">
                    <form action="/djadmin/user" method="GET">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="q" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>用户ID</th>
                            <th>头像</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>注册时间</th>
                            <th>上次登录时间</th>
                            <th>操作</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td><img src="{{ user.img }}" class="img-responsive img-circle" alt="User Image" width="36"></td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date_joined|date:"Y-m-d H:i:s" }}</td>
                                <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="/djadmin/user/{{ user.id }}/change">修改密码</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination no-margin pull-right">
                    <li>
                        {% if users.has_previous %}
                            <a href="/djadmin/user?q={{ query }}&page={{ users.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num users.number %}
                            <li class="active">
                                <span class="current">{{ users.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/djadmin/user?q={{ query }}&page={{ page_num }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if user.has_next %}
                            <a href="/djadmin/user?q={{ query }}&page={{ users.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% endblock %}
