<section class="footer-section">
    <div class="footer1-pynxl hidden-xs">
        <div class="container">
            <div class="col-md-4">
                <dt>关于{{ site_info.site_name }}</dt>
                <dl>
                    <dd>
                        <a href="/about/introduce/" target="_blank">关于我们</a>
                        <a href="/about/trends/" target="_blank">新闻动态</a>
                    </dd>
                    <dd>
                        <a href="/about/mobile/" target="_blank">移动应用</a>
                        <a href="/about/advertisement/" target="_blank">本站广告</a>
                    </dd>
                    <dd>
                        <a href="/about/declaration/" target="_blank">负责声明</a>
                        <a href="/about/help/" target="_blank">帮助中心</a>
                    </dd>
                    <dd>
                        <a href="/about/contactus/" target="_blank">联系我们</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dt>手机上{{ site_info.site_name }}</dt>
                <dl>
                    <dd>
                        <a href="/">{{ site_info.site_name }}</a>
                    </dd>
                    <dd>
                        <a href="/">Apple应用</a>
                    </dd>
                    <dd>
                        <a href="/">Android应用</a>
                    </dd>
                    <dd>
                        <a href="#"></a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dt>关注我们</dt>
                <dl>
                    <dd>
                        <a href="http://www.weibo.com/terryniu" target="_blank"><i class="fa fa-weibo fa-2x"></i></i></a>
                        <a href="#" data-toggle="popover2"><i class="fa fa-wechat fa-2x"></i></a>
                        <a href="http://twitter.com/terryniu" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="http://github.com/TERRY-V" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                    </dd>
                    <dd>
                        <a><span>服务热线: {{ site_info.site_phone }}</span></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="footer2-pynxl">
        <div class="container">
            <div class="links-pynxl">
                <p>
                    <span>
                        友情链接:&nbsp;
                        {% for friendlink in site_info.get_friendlinks %}
                            <a href="{{ friendlink.linkurl }}" target="_blank">{{ friendlink.linkname }}</a>
			            {% endfor %}
			            <a href="/about/links/" target="_blank">更多链接&gt;&gt;</a>
                    </span>
                </p>
            </div>
            <div class="copy-pynxl">
                <p>
                    <span>
                        <a href="/about/introduce/" target="_blank">关于我们</a>
                        <a href="/about/trends/" target="_blank">新闻动态</a>
                        <a href="/about/contactus/" target="_blank">联系我们</a>
                        <a href="/about/declaration/" target="_blank">负责声明</a>
                        <a href="/about/help/" target="_blank">帮助中心</a>
                        <a href="/about/mobile/" target="_blank">移动应用</a>
                        <a href="/about/advertisement/" target="_blank">本站广告</a>
                    </span>
                </p>
            </div>
            <div class="copy-v2-pynxl">
                <p>
                    <span>
                        Copyright &copy;{{ site_info.site_copyright }} {{ site_info.site_name }}
                        <a href="http://www.miibeian.gov.cn/">
                            {{ site_info.site_license }}
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover2"]').popover({
            placement : 'top',
            trigger: 'hover',
            html: true,
            title: "官方微信",
            content: "<img src='/static/images/weixin.jpg' class='img-responsive' width='150px'></img>"
        });
    });
</script>
