<section class="menulist-section">
    <div class="container">
        <div class="menulist hidden-xs">
            <div class="menulist-wrap">
                <div class="menulist-pynxl clearfix">
                    <div class="col-xs-6 col-sm-4 col-md-2 menu-pynxl">
                        <ul class="list-inline clearfix">
                            <li><a href="/"><strong>首页</strong></a></li>
                            <li><a href="/">资讯</a></li>
                            <li><a href="/">国内</a></li>
                            <li><a href="/">国际</a></li>
                        </ul>
                        <ul class="list-inline clearfix">
                            <li><a href="/shopping/"><strong>商城</strong></a></li>
                            <li><a href="/shopping/">连衣裙(荐)</a></li>
                            <li><a href="/shopping/">包包</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 menu-pynxl">
                        <ul class="list-inline clearfix">
                            <li><a href="/cookbook/"><strong>美食</strong></a></li>
                            <li><a href="/cookbook/search/?tag=小吃">小吃</a></li>
                            <li><a href="/cookbook/search/?tag=火锅">火锅</a></li>
                            <li><a href="/cookbook/search/?tag=烧烤">烧烤</a></li>
                        </ul>
                        <ul class="list-inline clearfix">
                            <li><a href="/foodmaterial/"><strong>食材</strong></a></li>
                            <li><a href="/foodmaterial/1243589782529671753">番茄</a></li>
                            <li><a href="/foodmaterial/9964735007418447245">人参</a></li>
                            <li><a href="/foodmaterial/3806348749790510545">黄豆</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 menu-pynxl">
                        <ul class="list-inline clearfix">
                            <li><a href="/movie/"><strong>电影</strong></a></li>
                            <li><a href="/movie/search/?type=动作">动作</a></li>
                            <li><a href="/movie/search/?type=爱情">爱情</a></li>
                            <li><a href="/movie/search/?type=喜剧">喜剧</a></li>
                        </ul>
                        <ul class="list-inline clearfix">
                            <li><a href="/star/"><strong>明星</strong></a></li>
                            <li><a href="/star/7301829868922189971/">赵丽颖</a></li>
                            <li><a href="/star/7822337654696043097/">张柏芝</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 menu-pynxl">
                        <ul class="list-inline clearfix">
                            <li><a href="/image/"><strong>美图</strong></a></li>
                            <li><a href="/image/search/?q=&type=6">美女</a></li>
                            <li><a href="/image/search/?q=杨幂">杨幂</a></li>
                            <li><a href="/image/search/?q=柳岩">柳岩</a></li>
                        </ul>
                        <ul class="list-inline clearfix">
                            <li><a href="/image/search/?q=&type=2"><strong>汽车</strong></a></li>
                            <li><a href="/image/search/?q=&type=15">衣橱</a></li>
                            <li><a href="/image/search/?q=&type=12">旅游</a></li>
                            <li><a href="/image/search/?q=&type=7">壁纸</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 menu-pynxl">
                        <ul class="list-inline clearfix">
                            <li><a href="/star/"><strong>明星</strong></a></li>
                            <li><a href="/star/7301829868922189971/">赵丽颖</a></li>
                            <li><a href="/star/7822337654696043097/">张柏芝</a></li>
                        </ul>
                        <ul class="list-inline clearfix">
                            <li><a href="/star/24892487110876381/"><strong>黄渤</strong></a></li>
                            <li><a href="/star/1669319215265447366/">阿娇</a></li>
                            <li><a href="/star/17200209830075653819/">Angelababy</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 menu-last-pynxl">
                        <ul class="list-inline clearfix">
                            <li><a href="/about/introduce/"><strong>关于我们</strong></a></li>
                            <li><a href="/usercenter/forgetpassword">找回密码</a></li>
                        </ul>
                        <ul class="list-inline clearfix">
                            <li><a href="http://weibo.com/terryniu" target="_blank"><strong>微博</strong></a></li>
                            <li><a href="/" target="_blank">微信</a></li>
                            <li><a href="/about/contactus/" target="_blank">客服</a></li>
                            <li><a href="/">导航</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div>
</section>
