<div class="sidebar panel panel-pynxl">
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/about/introduce/">
                    <h5 class="list-group-item-heading">
                        关于我们
                    </h5>
                    <p class="list-group-item-text">
                        <small>INTRODUCE</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/trends/">
                    <h5 class="list-group-item-heading">
                        新闻动态
                    </h5>
                    <p class="list-group-item-text">
                        <small>TRENDS</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/contactus/">
                    <h5 class="list-group-item-heading">
                        联系我们
                    </h5>
                    <p class="list-group-item-text">
                        <small>CONTACT</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/declaration/">
                    <h5 class="list-group-item-heading">
                        负责声明
                    </h5>
                    <p class="list-group-item-text">
                        <small>DECLARATION</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/help/">
                    <h5 class="list-group-item-heading">
                        帮助中心
                    </h5>
                    <p class="list-group-item-text">
                        <small>HELP</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/links/">
                    <h5 class="list-group-item-heading">
                        友情链接
                    </h5>
                    <p class="list-group-item-text">
                        <small>FRIENDLINKS</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/mobile/">
                    <h5 class="list-group-item-heading">
                        移动应用
                    </h5>
                    <p class="list-group-item-text">
                        <small>MOBILE</small>
                    </p>
                </a>
            </li>

            <li>
                <a href="/about/advertisement/">
                    <h5 class="list-group-item-heading">
                        本站广告
                    </h5>
                    <p class="list-group-item-text">
                        <small>ADVERTISEMENT</small>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>
